@import "./../../variable.scss";
.cover-photo{
  margin-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #3fc8f4;
  img{
    width: 40%;
    // height: 50vmin;
  }
}
.start-links{
  padding:0 50px;
  text-align: left;
  .ratings{
      margin-bottom: 15px;
    .ratings-star{
      vertical-align: text-bottom;
    }
    .ratings-counter{
      color: #011AA3;
      font-size: 12px;
      font-family: $avenir-heavy;
    }
  }
  h1{
    color: #00A379;
    font-size: 26px;
    font-family: $avenir-heavy;
    line-height: 28px;
  }
  p{
    color: #696969;
    font-size: 14px;
    font-family: $avenir-book;
  }



  .quicklinks{
    ul{
      padding: 0px;
      display: inline;
        li{
          
         span{
              border-bottom: 1px solid rgba(112, 112, 112, 0.14);
              padding: 12px 0px;
              font-size: 15px;
              font-family: $avenir-medium;
              color: #011AA3;
              background-image: url(./../../public/images/start/Chevron.svg);
              background-repeat: no-repeat;
              background-position: right center;
              width: 100%;
              float: left;
              &:hover{
                cursor: pointer;
              }
              
            }

        }
    }
}
}




/* screen 2 */
.assistance{
  width: 100%;
  text-align: center;
  .assistance-name{
    font-size: 23px;
    color: #00A379;
    font-family: $avenir-medium;
  }
  .assistance-ratings-star{
    margin-top: -10px;
      img{
        width: 100px;
        text-align: center;
      }
  }
  .assistance-type{
    font-size: 15px;
    color: #ADB1B6;
    font-family: $avenir-heavy;
  }
  .assistance-text-content{
    font-size: 21px;
    font-family: $avenir-book;
    padding: 50px 50px 0  50px;
    color: #000000;
  }
}
.bottom-btn{
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
  left: 10px;
}
.btn-green{
  background-color: #00A379;
  color: #ffffff;
  font-family: $avenir-heavy;
  font-size: 12px;
  text-transform: uppercase;
  padding:0.80rem 1rem;
}
.assistance-img{
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 10px;
    img{
      border-radius: 100%;
    }
}




















