* {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: "museo_sans300";
}
a:hover,
button:hover {
  outline: none;
  cursor: pointer;
}
.form-control:focus,
button:focus {
  outline: none;
  border: none;
}
.cover-pattern {
  width: 100%;
  height: 164px;
  background: #002b43;
  background-image: url(../images/bg_pattern.png);
  margin-bottom: 120px;
}
.user-profile {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  position: relative;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  background-color: #d0c9c9;
  text-align: center;
  margin-bottom: 30px;
}
.user-profile h5 {
  font-family: "museo_sans300";
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #002b43;
  margin-top: 5px;
  margin-bottom: 3px;
}
.user-profile h6 {
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #002b43;
}
.body-text {
  width: 100%;
  float: left;
}
.body-text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #002b43;
}
.main-chat-box {
  width: 370px;
  box-shadow: 0px 0px 10px #ccc;
  overflow: hidden;
  background: #f5f5f5;
  position: absolute;
  right: 50px;
  bottom: 160px;
}
.start-converstion {
  display: block;
}
.term-text {
  width: 100%;
  float: left;
}
.term-text p {
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  color: #707070;
}
.term-text a {
  color: #00b8ec;
}
.btn-blue {
  border-radius: 7px;
  background: #00b8ec;
  color: #fff;
  height: 44px;
}
.white-pattern {
  background-image: url(../images/bg_white_pattern.png);
  width: 100%;
  float: left;
}
.powered-by {
  text-align: center;
  width: 100%;
  float: left;
}
.powered-by p {
  font-weight: normal;
  line-height: 14px;
  text-align: center;
  color: #002b43;
  font-size: 11px;
  margin: 5px;
}
.text-light-blue-bold {
  color: #00b8ec;
  font-size: 11px;
  font-family: "museo_sans700";
}
.text-dark-blue-bold {
  color: #002b43;
  font-size: 11px;
  font-family: "museo_sans700";
}

/* chat box */
.chat-converstion {
  width: 100%;
  height: 580px;
  background-image: url(../images/bg_white_pattern.png);
}
.chat-box-header {
  background: #002b43;
  width: 100%;
  height: 64px;
  color: white;
  font-size: 20px;
  padding-top: 17px;
}
.bot-name {
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #20cef5;
  text-align: left;
}
.box-header-ic {
  float: none !important;
  position: absolute;
  right: 16px;
  top: 14px;
}
.chat-body {
  width: 100%;
  float: left;
  padding: 2%;
  box-sizing: border-box;
  background-color: #f5f5f5;
  background-image: url(../images/chat-body-bg.png);
}
.recent-heading {
  float: left;
  width: 40%;
}
.bot {
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
.bot-avatar {
  display: inline-block;
  width: 15%;
}
.bot-avatar img {
  display: inline-block;
  width: 50px;
}
.bot-msg {
  display: inline-block;
  padding: 0 0 0 5px;
  vertical-align: top;
  width: 83%;
}
.bot-msg p {
  color: #646464;
  font-size: 14px;
  padding: 5px 10px 5px 12px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  margin-bottom: 0px;
  overflow: auto;
}
.user-msg {
  overflow: hidden;
  margin: 0px 0px 0px 0px;
  padding-bottom: 10px;
  width: 70%;
  float: right;
}
.user-msg p {
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
  border-radius: 10px;
  background: #20cef5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}
.input-msg-write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 44px;
  width: 62%;
  padding: 0 10px;
  float: left;
}
.write-msg {
  color: #bab7b7;
}
.type-msg {
  position: relative;
  height: 42px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.msg-attachment-btn {
  border: none;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 7px;
  top: 5px;
  width: 23px;
}
.msg-gif-btn {
  border: none;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 38px;
  top: 6px;
  width: 34px;
}
.msg-smile-btn {
  border: none;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 81px;
  top: 5px;
  width: 22px;
}
.msg-camera-btn {
  border: none;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 112px;
  top: 5px;
  width: 22px;
}
.chat-logs {
  height: 430px;
  overflow-y: auto;
}
.status-online {
  background-color: #00ff6c;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  bottom: 5px;
  right: 20px;
}

/* */
.bottom-toggle {
  width: 90px;
  height: 90px;
  background: #20cef5;
  border-radius: 100%;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.icon_ic {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-size: 60%;
  background-position: center center;
}
.icon_ic:hover {
  cursor: pointer;
}
.icon_ic.close_ic {
  background-image: url(../images/close.png);
}
.icon_ic.chat_ic {
  background-image: url(../images/chat.png);
}

.fill_ic {
  padding: 0 8px;
  border: none;
}
.tick_ic_green {
  background-color: #4ec794;
}
.arrow_ic_blue {
  background-color: #337c9c;
}
.form-main {
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
  float: left;
  width: 97%;
  margin: 0 1.5%;
}
.form-main label {
  font-weight: normal;
  font-size: 10px;
  line-height: 26px;
  text-align: left;
  color: #000;
  width: 100%;
  margin: 0;
}
.form-main input {
  font-size: 15px;
  color: #000;
}
.steps {
  width: 100%;
  float: left;
}
.steps ul {
  width: 100%;
}
.steps ul li {
  width: 24%;
  background-color: #d3d3d3;
  height: 5px;
  margin-left: 2px;
  float: left;
}
.steps-digit {
  color: #8f2268;
  font-size: 12px;
}
.steps ul li:last-child {
  width: 25%;
  margin-right: 0;
}
.steps ul li:hover {
  background-color: #002b43;
  cursor: pointer;
}
.steps ul li.active {
  background-color: #002b43;
}
.btn-bbl {
  background-color: #002b43;
  border-radius: 40px;
  color: #fff;
}
.btn-bbl:hover {
  border: 1px solid #002b43;
  border-radius: 40px;
  color: #002b43;
  background-color: transparent;
}
.btn-boder-bbl {
  border: 1px solid #002b43;
  border-radius: 40px;
  color: #002b43;
  background-color: transparent;
}
.btn-boder-bbl:hover {
  border: 1px solid #002b43;
  background-color: #002b43;
  border-radius: 40px;
  color: #fff;
}
/* */

/* scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
