@font-face {
    font-family: 'museo_sans100';
    src: url('../fonts/museosans_100-webfont.eot');
    src: url('../fonts/museosans_100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_100-webfont.woff2') format('woff2'),
         url('../fonts/museosans_100-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans300';
    src: url('../fonts/museosans_300-webfont.eot');
    src: url('../fonts/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_300-webfont.woff2') format('woff2'),
         url('../fonts/museosans_300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/museosans_500-webfont.eot');
    src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_500-webfont.woff2') format('woff2'),
         url('../fonts/museosans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans700';
    src: url('../fonts/museosans_700-webfont.eot');
    src: url('../fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_700-webfont.woff2') format('woff2'),
         url('../fonts/museosans_700-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




/* Nasco New fonts */
@font-face {
    font-family: 'AvenirMedium';
    src: url('../fonts/AvenirLTStd-Medium.eot');
    src: url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Medium.woff') format('woff'),
        url('../fonts/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLight';
    src: url('../fonts/AvenirLTStd-Light.eot');
    src: url('../fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Light.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Light.woff') format('woff'),
        url('../fonts/AvenirLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'AvenirHeavy';
    src: url('../fonts/AvenirLTStd-Heavy.eot');
    src: url('../fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Heavy.woff') format('woff'),
        url('../fonts/AvenirLTStd-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirBook';
    src: url('../fonts/AvenirLTStd-Book.eot');
    src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Book.woff') format('woff'),
        url('../fonts/AvenirLTStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirRoman';
    src: url('../fonts/AvenirLTStd-Roman.eot');
    src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
        url('../fonts/AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirBlack';
    src: url('../fonts/AvenirLTStd-Black.eot');
    src: url('../fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Black.woff') format('woff'),
        url('../fonts/AvenirLTStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}















/* */

@font-face {
    font-family: 'GE SS Unique-300';
    src: url('../fonts/hinted-subset-GESSUniqueLight-Light.eot');
    src: url('../fonts/hinted-subset-GESSUniqueLight-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-GESSUniqueLight-Light.woff2') format('woff2'),
        url('../fonts/hinted-subset-GESSUniqueLight-Light.woff') format('woff'),
        url('../fonts/hinted-subset-GESSUniqueLight-Light.ttf') format('truetype'),
        url('../fonts/hinted-subset-GESSUniqueLight-Light.svg#GESSUniqueLight-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GE SS Unique-bold';
    src: url('../fonts/hinted-subset-GESSUniqueBold-Bold.eot');
    src: url('../fonts/hinted-subset-GESSUniqueBold-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-GESSUniqueBold-Bold.woff2') format('woff2'),
        url('../fonts/hinted-subset-GESSUniqueBold-Bold.woff') format('woff'),
        url('../fonts/hinted-subset-GESSUniqueBold-Bold.ttf') format('truetype'),
        url('../fonts/hinted-subset-GESSUniqueBold-Bold.svg#GESSUniqueBold-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GE SS Unique';
    src: url('../fonts/hinted-subset-GESSUniqueLight-Light.eot');
    src: url('../fonts/hinted-subset-GESSUniqueLight-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-GESSUniqueLight-Light.woff2') format('woff2'),
        url('../fonts/hinted-subset-GESSUniqueLight-Light.woff') format('woff'),
        url('../fonts/hinted-subset-GESSUniqueLight-Light.ttf') format('truetype'),
        url('../fonts/hinted-subset-GESSUniqueLight-Light.svg#GESSUniqueLight-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GE SS Unique';
    src: url('../fonts/hinted-subset-GESSUniqueLight-Light.eot');
    src: url('../fonts/hinted-subset-GESSUniqueLight-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-subset-GESSUniqueLight-Light.woff2') format('woff2'),
        url('../fonts/hinted-subset-GESSUniqueLight-Light.woff') format('woff'),
        url('../fonts/hinted-subset-GESSUniqueLight-Light.ttf') format('truetype'),
        url('../fonts/hinted-subset-GESSUniqueLight-Light.svg#GESSUniqueLight-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

