@import "./../../variable.scss";

.identity-main {
  width: 90%;
  float: right;
  .identity-button {
    width: 100%;
    display: inline-flex;
    margin-top: 20px;
    .col-md {
      display: table;
      padding: 0.25rem 0 0.75rem 0.75rem;
    }
    .box-button {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      height: 88px;
      vertical-align: middle;
      display: table-cell;
      border-radius: 8px;
      position: relative;
      .selction-text {
        color: #011aa3;
        font-size: 14px;
        padding-top: 10px;
        font-family: $avenir-heavy;
      }
    }
    .active {
      background-image: url(./../../public/images/ic_tick.svg);
      background-repeat: no-repeat;
      background-position: top 5px right 5px;
    }
  }
  .identity-photo {
    border: 1px solid rgba(112, 112, 112, 0.2);
    width: 96%;
    float: right;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
    }
    .loading-icon {
      position: absolute;
      background: rgba(1, 26, 163, 0.6);
      height: 100%;
    }
  }
}
