@import "./../../variable.scss";
.cards-comprehensive-main{
  width: 100%;
  float: left;
  .cards-comprehensive {
  padding: 10px;
  background-color: #fff;
  float: left;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  width: 97%;
  margin-left: 3%;
  margin-bottom: 20px;
  .comprehensive-table {
    font-size: 10px;
    margin: 0 auto;
    border: none;
    float: left;
    text-align: left;
    th {
      padding: 0px 5px 5px 5px;
      border: none;
      font-family: $avenir-black;
      text-transform: uppercase;
      font-size: 11px;
      color: #011aa3;
      img {
        width: 64px;
        padding: 2px;
        margin-bottom: -4px;
      }
    }
    td {
      padding: 5px;
      font-size: 12px;
      color: #011aa3;
      font-family: $avenir-medium;
      vertical-align: middle;
      border-bottom: 1px solid #bce0fd;
      /*
      &:last-child {
        border-bottom: none;
      }
      */
    }

    .border-left {
      border-left: 1px solid #24b08b !important;
    }
    .border-right {
      border-right: 1px solid #24b08b !important;
    }
    .bggray {
      background-color: #f2f4f4;
    }
    .table-text-gray-color {
      color: rgba(0, 0, 0, 0.3);
    }

    tr {
      .text-bold {
        font-family: $avenir-black;
        font-size: 12px;
      }
    }
    tbody {
      border-top: 7px solid #bce0fd;
    }
    
  }
  .cards-comprehensive-btn {
    width: 100%;
    .btn-blue {
      background-color: #2699fb;
      font-family: $avenir-black;
      text-transform: uppercase;
      font-size: 12px;
      color: #fff;
      padding: 10px;
    }
  }
}
.slick-slide img {
  display: inline-block;
}
.slick-track {
  display: flex;
}


  .slick-next{display: block !important; opacity: 1 !important; top:50% !important; right: 1% !important;  z-index: 999;}
  .slick-prev{display: block !important; opacity: 1 !important; top:50% !important; left: 1% !important; z-index: 999;}
  .slick-next:before{ display: block !important; opacity: 1 !important; color: #011AA3 ;}
  .slick-prev:before{display: block !important; opacity: 1 !important; color: #011AA3 ;}
}