@import "./../../variable.scss";

.splash-main {
  background-color: #011aa3;
  height: 100vh;
  display: table;
}
.splash-logo {
  vertical-align: middle;
  display: table-cell;
}

@mixin center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$easing: cubic-bezier(0.93, 0.01, 0.15, 0.97);

/*--------------------
Stage
--------------------*/
.onboard {
  @include center;
  width: 100%;
  height: 500px;
  background: #fff;
  border-radius: 0px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.onboard-logo {
  width: 100px;
  padding-left: 25px;
}
.onboard-logo img {
  width: 100px;
}
.board-content {
  padding-top: 30px;
  height: 90%;
  display: grid;
}
.board-mobile {
  position: relative;
  bottom: 40px;
  border-bottom: 1px solid #fff;
}
.board-mobile img {
  max-width: 100%;
  position: absolute;
  bottom: -1px;
  padding: 0 40px 0 40px;
}
.slick-dots li {
  margin: 0px !important;
  button:before {
    font-size: 8px !important;
    opacity: 1 !important;
  }
}
.slick-dots li button:before {
  color: #fff !important;
}
.slick-dots li.slick-active button:before {
  color: #24b08b !important;
  opacity: 1 !important;
}

.slick-track {
  transition: all 0.5s $easing;
}

.item {
  width: 300px;
  height: calc(100vh - 50px) !important;
  text-align: left;
  color: #ffffff;
  outline: none;
  padding: 80px 0px 0;
  background-color: #011aa3;
  background-image: url("../../public/images/splash/onbordingbg.svg");
  transition: background-image 0.2s ease;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .text-content {
    padding: 0px 37px 0;
    font-weight: normal;
    .board-switch {
      margin-top: -8px;
    }
    h1 {
      font-size: 26px !important;
      font-family: $avenir-medium;
    }
    h4 {
      font-size: 21px;
      font-family: $avenir-medium;
    }
    h6 {
      font-size: 19px;
      font-family: $avenir-light;
      color: #fff !important;
    }
  }
}
.text {
  font-size: 16px;
  line-height: 1.5;  
}

/*--------------------
Slick Dots
---------------------*/
.slick-dots {
  bottom: 15px !important;
  a {
    position: relative !important;
    display: block !important;
    width: 16px !important;
    height: 16px !important;
  }
  span {
    @include center;
    position: absolute !important;
    width: 6px !important;
    height: 6px !important;
    border-radius: 50% !important;
    background: #fff !important;
  }
  circle {
    fill: none !important;
    stroke: #fff !important;
    stroke-width: 1 !important;
    stroke-linecap: round !important;
    stroke-dasharray: 39 39 !important;
    stroke-dashoffset: 39 !important;
    transition: all 0.9s ease-in-out !important;
    transition: stroke-dashoffset 0.5s $easing !important;
  }

  .slick-active circle {
    stroke-dashoffset: 0 !important;
  }
}
// /*
// .slick-next {
//   right: 40px !important;
//   bottom: 5px !important;
//   top: unset !important;
//   z-index: 2 !important;
//   &:before {
//     content: "Next" !important;
//     font-family: $avenir-heavy !important;
//     text-transform: uppercase !important;
//     font-size: 15px !important;
//   }
// }
// .slick-prev {
//   bottom: 5px !important;
//   top: unset !important;
//   left: 20px !important;
//   z-index: 2 !important;
//   &:before {
//     content: "" !important;
//     font-family: $avenir-heavy !important;
//     text-transform: uppercase !important;
//     font-size: 15px !important;
//   }
// }
// .slick-next.slick-disabled:before,
// .slick-prev.slick-disabled:before {
//   opacity: 1 !important;
// }
// .slick-next:before,
// .slick-prev:before {
//   opacity: 1 !important;
// }
// */
.splash-screen-slider{
  .slick-next {
    display: none !important;
  }
  .slick-prev {
    display: none !important;
  }
}
