$font-700: "museo_sans700";
$font-300: "museo_sans300";
$font-500: "museo_sans500";
/*Arabic fonts */
$font-arabic-300: "GE SS Unique-300";
$font-arabic-700:"GE SS Unique-bold";
/* main screen  */
$color-white: #fefefe;
$scroll-background: rgba(0, 0, 0, .2);

/* new section for variable start */
/* chatbot */
$main-chat-shadow: #ccc;
// $main-chat-bg: #f5f5f5;
$main-chat-bg: #ffffff;
$bot-toggle-bg: #2C80B5;
/* Initial Screen */
$cover-pattern-bg: #B5AA87;
$user-profile-bg: #707070;
$color-avatar-title: #00B8EC;
$status-online-bg: #00ff6c;
$cover-pattern-text-color:#ffffff;
// $body-text-normal: #B5AA87;
$body-text-normal:#2C80B5;
$term-text-para: #000000;
$term-text-link: #00b8ec;
$btn-start-bg: #2C80B5;
$btn-start-color: #fefefe;
$user-profile-offline-bg:#e1dfdf;
$darkgray-btn: #C3BEBE;
$darkgray-btn-text-white: #FFF;
$inti-main-text-white: #FFF;

/* quick replies */
$btn-quick-reply-bg: #00b8ec;
$btn-quick-reply-border: #00b8ec;
$btn-quick-reply-color: #00b8ec;
$btn-quick-reply-selected-bg: #00b8ec;
$btn-quick-reply-selected-color: #fff;
/* powered by */
$text-powerdby-normal: #002b43;
$text-powerdby-light: #00b8ec;
/* slider */
$color-card-link: #0084FF;
$arrow-color-blue:#0084FF;
$slider-arrow-shadow:rgba(0,0,0,0.37);
$color-card-link: #00b8ec;
$color-card-link-disabled : #999;
/* chat screen */
$chat-header-bg: #B5AA87;
$chat-header-color: #fff;
$chat-header-botname-color: #fff;
$chat-body-bg: #FFF;
$chat-body-bot-msg-color: #646464;
$chat-msg-time-color: #777777;

// $chat-body-bot-msg-bg: #fff;
$chat-body-bot-msg-bg: #f2f4f4;
$chat-body-msg-shadow: rgba(0, 0, 0, 0.16);
$chat-body-user-msg-color: #fff;
$chat-body-user-msg-bg: #2C80B5;
$doctor-subtitle-text: #777777;
$card-link-btn:#F4F4F4;
// $type-msg-bg: #fff;
$type-msg-bg: #f2f4f4;
$write-msg-bg: rgba(0, 0, 0, 0);
$write-msg-input-color: #4c4c4c;
$write-msg-color: #bab7b7;
$loader-light-bg: #c9cbcb;
$loader-mobi-primary: #20cef5;
$loader-mobi-primary-dark: #20cef5;
$ti-color-bg: #E6E7ED;
/* form */
$form-tick-green: #4ec794;
$form-tick-blue: #337c9c;
$form-bg-color: #f2f4f4;
$form-shadow: #ccc;
$form-lbl-color: #000;
$form-lbl-input-color: #000;
$form-steps-bg-color: #d3d3d3;
$form-steps-color: #8f2268;
$form-steps-active: #002b43;
$form-btn-submit-bg: #00b8ec;
$form-btn-submit-color: #fff;
$form-btn-submit-gray:#d3d3d3;
/* form pay al-alain */
$form-pay-bg: white;
$form-pay-control-border: #d2d2d2;
$secure-text-color: #707070;
$form-pay-ip-color: #000;
$pay-form-lbl-color: #04578d;
$form-border:#707070;

$humburger-menu-pop-arrow: #707070;
$btn-charge-bg-color: #f2f2f2;
$btn-charge-color: #2c80b5;
$btn-complete-bg-color: #2c80b5;
$btn-complete-color: #f2f2f2;


/* search form */
$search-fill-color:#F7F0F4;
$specialization-list-border-color:#707070;
$specialization-list-text: #8f2268;
$doctor-name-text:#8f2268;
/* calendar start */
$calender-bg-color:#2C80B5;
$calender-border-color:#2C80B5;
$calender-color:#2C80B5;
$calender-selected-color:#fff;
$calender-month-bg-color:#f0f0f0;
$calender-header-border-color:rgba(44, 128, 181, 0.7);
/* Range Slider */
$slider-effect-background-color: #ffffff;
$slider-web-background-color: #B5AA87;

/* list-section */
$list-section-title:#000;
$list-section-detail:#000;
$list-section-btn:#4c45ff;

/* responsive brackpoint for height */
$break-laptop: 800px;

/* responsive brackpoint for width */
$break-mobile: 500px;

/* map image border color */
$map-img-border-color: #2C80B5;


/* responsive brackpoint for width specially for cards */

$break-cards: 370px;