/* fonts */
$font-700: "museo_sans700";
$font-300: "museo_sans300";
$font-500: "museo_sans500";

/* Avenir */
$avenir-medium: "AvenirMedium";
$avenir-light: "AvenirLight";
$avenir-heavy:"AvenirHeavy";
$avenir-book:"AvenirBook";
$avenir-roman:"AvenirRoman";
$avenir-black:"AvenirBlack";


/*Arabic fonts */

$font-arabic-300: "GE SS Unique-300";
$font-arabic-700:"GE SS Unique-bold";

/* main screen  */
$color-white: #fefefe;
$scroll-background: rgba(0, 0, 0, .2);

/* new section for variable start */
/* chatbot */
$main-chat-shadow: rgba(0, 0, 0, 0.16);
$main-chat-bg: #F5F5F5;
$bot-toggle-bg: #24B08B;
/* Initial Screen */
$cover-pattern-bg: #24B08B;
$cover-pattern-text-color:#ffffff;
$user-profile-bg: #ffffff;
$user-profile-offline-bg:#e1dfdf;
$color-avatar-title: #24B08B;
$color-avatar-title-offline: #777777;
$status-online-bg: #00ff6c;
$status-offline-bg: #D3D3D3;
$body-text-normal: #24B08B;
$term-text-para: #24B08B;
$term-text-link: #00B8EC;
$btn-start-bg: #24B08B;
$btn-start-color: #fefefe;
$darkgray-btn: #C3BEBE;
$darkgray-btn-text-white: #FFF;
$inti-main-text-white: #FFF;
$card-link-btn:#F4F4F4;
/* quick replies */
$btn-quick-reply-bg: #24B08B;
$btn-quick-reply-border: #1CB9FF;
$btn-quick-reply-color: #011AA3;
$btn-quick-reply-selected-bg: #24B08B;
$btn-quick-reply-selected-color: #fff;
/* powered by */
$text-powerdby-normal: #002b43;
$text-powerdby-light: #00B8EC;
/* slider */
$color-card-link: #011AA3;
$arrow-color-blue:#011AA3;
$color-card-link-disabled : #999;    
$slider-arrow-shadow:rgba(0,0,0,0.16);
$color-card-link: #011AA3;
/* chat screen */
$chat-header-bg: #24B08B;
$chat-header-color: #fff;
$chat-header-botname-color: #FFF;
$chat-body-bg: #ffffff;
$chat-body-bot-msg-color: #646464;
$chat-body-bot-msg-bg: #F2F4F4;
$chat-body-msg-shadow: rgba(0, 0, 0, 0.16);
$chat-body-user-msg-color: #fff;
$chat-body-user-msg-bg: #24B08B;
$type-msg-bg: #F2F4F4;
$write-msg-bg: rgba(0, 0, 0, 0);
$write-msg-input-color: #4c4c4c;
$write-msg-color: #bab7b7;
$loader-light-bg: #c9cbcb;
$loader-mobi-primary: #20cef5;
$loader-mobi-primary-dark: #20cef5;
$ti-color-bg: red;
$chat-msg-time-color: #777777;
$doctor-subtitle-text: #777777;

/* form */
$form-tick-green: #4ec794;
$form-tick-blue: #24B08B;
$form-bg-color: #fff;
$form-shadow: #ccc;
$form-lbl-color: #000;
$form-lbl-input-color: #000;
$form-steps-bg-color: #d3d3d3;
$form-steps-color: #8f2268;
$form-steps-active: #002b43;
$form-btn-submit-bg: #24B08B;
$form-btn-submit-color: #fff;
/* form pay al-alain */
$form-pay-bg: #F2F4F4;
$form-pay-control-border:rgba(210, 210, 210, 0.7);
$secure-text-color: #707070;
$form-pay-ip-color: #000;
$pay-form-lbl-color: #011AA3;
$form-border:rgba(112, 112, 112, 0.7);

$humburger-menu-pop-arrow: #707070;
$btn-charge-bg-color: #f2f2f2;
$btn-charge-color: #00A379;
$btn-complete-bg-color: #00A379;
$btn-complete-color: #f2f2f2;

/* search form */
$search-fill-color:#F7F0F4;
$specialization-list-border-color:rgba(112, 112, 112, 0.7);
$specialization-list-text: #8f2268;
$doctor-name-text:#8f2268;

/* calendar start */
$calender-bg-color:#00A379;
$calender-border-color:rgba(44, 128, 181, 0.7);
$calender-header-border-color:rgba(44, 128, 181, 0.7);
$calender-color:#24B08B;
$calender-selected-color:#fff;
$calender-selected-bg-color:#24B08B;
$calender-month-bg-color:#24B08B;
$calender-icon: "/../../public/images/";
/* list-section */
$list-section-title:#000;
$list-section-detail:#000;
$list-section-btn:#0084FF;

/* Range Slider */
$slider-effect-background-color: #ffffff;
$slider-web-background-color: #24B08B;

/* map image border color */
$map-img-border-color: rgba(149, 30, 96, 0.7);

/* responsive brackpoint for height */
// $break-laptop: 800px;
$break-laptop:600px;

/* responsive brackpoint for width */
$break-mobile: 500px;

/* responsive brackpoint for width specially for cards */
$break-cards: 370px;
/* range slider */

/* rc slider */
$rc-slider-track-bg-color: #011AA3;