@import "./../../variable.scss";
/*
// SASS variable for media query breakpoint
$breakpoint-desktop: 992px;

// Resetting default styles
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-flex;
}

// Fix for jumping arrows
.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 210px;
}

.carousel {
  position: relative;
  width: 100%;
  float: left;
  display: table;
  height: 350px;
}
.carousel__slides {
  padding-left: 50px;
}

// Carousel slides
.carousel__slide {
  margin-right: auto;
  margin-left: auto;
  display: inline;
  max-width: 900px;
  list-style-type: none;
  text-align: center;
  padding-right: 10px;

  @media (max-width: 991px) {
    padding-right: 10px;
    // padding-left: 50px; 
  }

  &--active {
    display: block;
  }
}

// Content of slides
.carousel-slide__content {
  margin-bottom: 19px;
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 16px;

  @media (max-width: $breakpoint-desktop - 1px) {
    font-size: 18px;
  }
}

.carousel-slide__author,
.carousel-slide__source {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;

  @media (min-width: $breakpoint-desktop) {
    font-size: 16px;
  }
}

.carousel-slide__source {
  font-style: italic;
  color: #888;
}

// Carousel arrows
.carousel__arrow {
  position: absolute;
  // top: 50%;
  top: 118px;
  display: block;
  color:#000;
  cursor: pointer;
  opacity: .75;
  transform: translateY(-50%);
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);
  z-index: 1;
  background: transparent;
  &:focus {
    outline: 0;
  }

  &--left {
    left: 10px;
    width: 30px;
    height: 30px;
    background: #FFF;
    opacity: 1;
    -webkit-box-shadow: 0px 3px 6px 0px $slider-arrow-shadow;
    -moz-box-shadow: 0px 3px 6px 0px $slider-arrow-shadow;
    box-shadow: 0px 3px 6px 0px $slider-arrow-shadow;
    font-size: 12px;
    @media screen and (max-width: $break-mobile) {
      left: 20px;
    }
  }

  &--right {
    right: 234px;
    width: 30px;
    height: 30px;
    background: #FFF;
    opacity: 1;
    -webkit-box-shadow: 0px 3px 6px 0px $slider-arrow-shadow;
    -moz-box-shadow: 0px 3px 6px 0px $slider-arrow-shadow;
    box-shadow: 0px 3px 6px 0px $slider-arrow-shadow;
    font-size: 12px;

    @media screen and (max-width: $break-mobile) {
      right: 270px;
    }
    @media screen and (max-width: $break-cards) {
      right: 30px;
    }
  }

  
}
.carousel__arrow.active {
  color:$arrow-color-blue;
}


// Carousel indicators
.carousel__indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;

  li {
    &:nth-of-type(n + 2) {
      margin-left: 9px;
    }
  }
}

.carousel__indicator {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #111;
  cursor: pointer;
  opacity: .15;
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

  &:hover {
    opacity: .5;
  }

  &--active {
    &,
    &:hover {
      opacity: .75;
    }
  }
}

.card-body {
  padding: 0px;
  .card-title {
    font-weight: 700;
  }
  .cardlinks {
    font-weight: 700;
  }
  p {
    font-size: 14px;    
    padding:0 10px;
    margin-bottom:0px;
  }
  .list-group-item{
    border-top:1px solid #0084FF;
  }
}
.list-group.list-group-flush {
  min-height: 140px; 
  padding: 0px 10px 10px 10px;
  border-radius: 7px;
}
.card-img {
  background-position: center;
  background-size: cover;
}
*/
// .card {
//   width: 80%;
// }
// .slick-prev, .slick-next {
//   position: unset !important;
// }


.item {
  width: 300px;
  height: 100vh;
  text-align: left;
  color: #ffffff;
  outline: none;
  padding: 30px 0px 0;
  background-color: #011aa3;
  background-image: url("../../public/images/splash/onbordingbg.svg");
  transition: background-image 0.2s ease;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .text-content {
    padding: 0px 37px 0;
    font-weight: normal;
    .board-switch {
      margin-top: -8px;
    }
    h1 {
      font-size: 36px;
      font-family: $avenir-medium;
    }
    h4 {
      font-size: 24px;
      font-family: $avenir-medium;
    }
    h6 {
      font-size: 21px;
      font-family: $avenir-light;
      color: #fff !important;
    }
  }
}
.text {
  font-size: 16px;
  line-height: 1.5;  
}
.nascom-slider {
  .slick-track{
    display: inline-flex;
    margin-bottom: 10px;
    
  }
}

.slick-list{
  overflow: unset !important;
}


.card {
  .cardlinks
  {
    width: 100%;
    float: left;
  }
}
.slick-next{display: block !important; opacity: 1 !important; top:70%; right: 10%;  z-index: 999;}
.slick-prev{display: block !important; opacity: 1 !important; top:70%; left: 10%; z-index: 999;}
.slick-next:before{ display: block !important; opacity: 1 !important; color: #FFF;}
.slick-prev:before{display: block !important; opacity: 1 !important; color: #FFF;}
