@import "./../../variable.scss";
.card {
  border-radius: 0rem;
  overflow: hidden;
  width: 334px;
  border-left:none; 
  border-right:none; 
  border-top:none; 
  border:none;
  box-shadow: 0px 3px 6px 0px #cccccc;

  margin: 0 auto;


  // border-bottom: 1px solid #0084FF;
  // for top align cards

  @media screen and (max-width: $break-cards) {
    // width: 69vw;
  }

  // .list-group.list-group-flush{
  //   border-left: 1px solid #0084FF;
  //   margin: -1px;
  //   border-right: 1px solid #0084FF;
  // }
  .cardlinks {
    color: $color-card-link;
    font-size: 12px;
    text-align: center;
    font-family: $avenir-heavy;
    border-radius: 7px;
    background-color:$card-link-btn;
    margin-top: 5px;
    border: 0px;
  }
  .cardlinks.disabled {
    color: $color-card-link-disabled !important;
  }
  .card-body {
    text-align: left;
    color: #000;
    padding: 10px 15px 15px 15px;
    h5{
      padding: 10px 10px 0px 10px
    }
    .list-group{
      // border: 1px solid #707070;
      border-top:none;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      overflow: hidden;
      box-shadow: none;
        li
        {
          // border-top: 1px solid #707070;
          &:last-child{
            border-bottom: none;
          }
        }
    }
  }
  .card-title {
    font-size: 18px;
    font-family: $avenir-black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #011AA3;
    padding-top: 5px;
    padding-bottom: 0px;    
    text-align: center;
    width: 100%;
  }
  .card-body ul {
    width: 100%;
  }
  .card-img {
    // height: 223px;
    height: 180px;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    // border: 1px solid #707070;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }  
  .card-img-top{
    border-radius: 0px;
  }
  .card-header{
      // border: 1px solid #707070;
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 0px 0px 5px 0px;
      background-color: transparent;
      border-bottom: none;
      text-align: center;
      p{
        margin: 0px;
      }
  }
   
}
