@import "./../../variable.scss";

.form-pay-main {
  width: 100%;
  background-color: $form-pay-bg;
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  z-index: 1000;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  bottom: 0px;
  /* height: 80%; */ 
  height: inherit;
  .form-control {
    box-shadow: none;
    border: 1px solid $form-pay-control-border;
    padding-left: 10px;
    background-color: #FFF;
  }
  .form-control:focus {
    border: 1px solid $form-pay-control-border;
  }
  .fill-icon {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .form-header {
    background-image: url(./../../public/images/header_line.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
  }
  .form_close{
    position: absolute;
    left: 10px;
    top: 10px;
  }
}
.form-logo-left {
  float: left;
}
.form-logo-right {
  float: right;
}
.form-payment {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10% 2% 5% 2%;
}
.quoterequest-form{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10% 2% 5% 2%;
    .quoterequest-form-logo{
      background-color: #FFF;
      text-align: center;
      padding: 3px 0px 5px 0px;
    }
    .price-sticker-bg{
      background-size: 100%;
      background-position: bottom;
      padding-bottom: 5px;
      padding-top: 5px;
      background-repeat: no-repeat;
    }
    .price-bg-blue{
      background-image: url(../../public/images/sticker-blue.svg);
    }
    .price-bg-gray{
      background-image: url(../../public/images/sticker-gray.svg);
    }
    .price-bg-cyne{
      background-image: url(../../public/images/sticker-cyne.svg);
    }
}
.secure-text {
  float: left;
  width: 100%;
}
.secure-text h1 {
  font-size: 22px;
  margin: 0px;
  font-family: $avenir-heavy;
  color: $secure-text-color;
}
h1.font-big {
  font-size: 24px;
  margin: 8px;
  font-family: $avenir-heavy;
}
h6 {
  font-size: 11px;
  color: $secure-text-color;
}
.iclock {
  padding-right: 20px;
  height: 38px;
}
.icedit {
  padding-right: 20px;
  height: 38px;
}
.form-value {
  font-size: 18px;
  color: #000;
  font-family: $font-500;
}
.form-input-text {
  font-size: 18px !important;
  color: $form-pay-ip-color;
  font-family: $font-500;
}
.form-input-ic {
  background-color: #FFF;
}

/* radio button */

input[type="radio"].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type="radio"].css-checkbox + label.css-label,
input[type="radio"].css-checkbox + label.css-label.clr {
  padding-left: 23px;
  height: 18px;
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 18px;
  vertical-align: middle;
  cursor: pointer;
}

input[type="radio"].css-checkbox:checked + label.css-label,
input[type="radio"].css-checkbox + label.css-label.chk {
  background-position: 0 -18px;
}
label.css-label {
  background-image: url(../../public/images/radio_ic.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20px;
}



.price-currency {
  color: white;
  width: 100%;
  font-family: $avenir-medium;
  text-align: center;
  display: block;
}
.price-amount {
  color: white;
  font-size: 27px;
  font-family: $avenir-heavy;
  width: 100%;
  text-align: center;
  display: block;
}
.payment-cards {
  width: 100%;
  float: left;
}
label {
  color: $pay-form-lbl-color;
  font-size: 12px;
  margin-bottom: 0px;
  width: 100%;
}

.formdd_m {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(8, 8, 8, 0.17) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(8, 8, 8, 0.17))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(8, 8, 8, 0.17) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(8, 8, 8, 0.17) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(8, 8, 8, 0.17) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(8, 8, 8, 0.17) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#080808', GradientType=0 );
  height: 38px;
  margin-right: 5px;
  width: 78px;
  float: left;
  border-radius: 0.25rem;
}
.formdd_m select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../../public/images/ic_expand_more.svg);
  background-repeat: no-repeat;
  background-position: right 5px top 10px;
  background-color: transparent !important;
}

.formdd_y {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(8, 8, 8, 0.17) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(8, 8, 8, 0.17))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(8, 8, 8, 0.17) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(8, 8, 8, 0.17) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(8, 8, 8, 0.17) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(8, 8, 8, 0.17) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#080808', GradientType=0 );
  height: 38px;
  width: 88px;
  float: right;
  border-radius: 0.25rem;
}
.formdd_y select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  float: right;
  background-image: url(./../../public/images/ic_expand_more.svg);
  background-repeat: no-repeat;
  background-position: right 5px top 10px;
  background-color: transparent !important;
}
.form-dd {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  float: right;
  background-image: url(./../../public/images/ic_expand_more_blue.svg);
  background-repeat: no-repeat;
  background-position: right 15px top 15px;
  background-color: transparent !important;
  font-size: 16px !important;
}
.btn-charge {
  background-color: $btn-charge-bg-color;
  color: $btn-charge-color;
  border: none;
  outline: none;
  box-shadow: none;
  height: 44px;
}
.btn-complete-transaction {
  background-color: $btn-complete-bg-color;
  color: $btn-complete-color;
  border: none;
  outline: none;
  box-shadow: none;
  height: 44px;
  font-family: $avenir-heavy;
  text-transform: uppercase;
}
.licence-form, .car-form {
  .form-control {
    height: calc(2.25rem + 15px);
    font-size: 18px;
    color: #000000;
  }
}

.email-form {
  height: 60%;
}

.btn-disable {
  background-color: #ccc;
}

.car-form {
  .rc-slider {
    position: inherit !important;
    margin: -0px !important;
    .rc-slider-track, .rc-slider-rail, .rc-slider-track {
      background-color: $rc-slider-track-bg-color;
    }
    .rc-slider-dot {
      display: none;
    }
    .rc-slider-handle {
      margin-top: -11px;
      width: 30px;
      height: 30px;
      border: solid 3px #24B08B;
      background-color: #ffffff;
      border-radius: 0;
    }    
  }
  .slider-mark-left {
    left: 5%;
    transform: translateX(-50%);
  }
  .slider-mark-right {
    left: 93%;
    transform: translateX(-50%);
  }
}

.switch-list{
  width: 96%;
  margin: 0 auto;
  padding: 0px 10px;
  line-height: normal;
  li{
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(112, 112, 112, 0.14);
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
    padding: 0px 10px;
    color: #000;
    font-family: $avenir-medium;
    text-transform: uppercase;
  }
  .passengers-number{
    border: 1px solid #2699FB;
    height: 30px;
    text-align: center;
    font-size: 18px;
    width: 45px;
    border-radius: 5px;
    color: #119ee4;
  }
  .plus-sign
  {
    background-color: #119ee4;
    height: 30px;
    float: right;
    margin-left: 5px;
    border-radius: 5px;
    img{
      width: 30px;
    }
  }
  .minus-sign
  {
    background-color: #119ee4;
    height: 30px;
    float: left;
    margin-right: 5px;
    border-radius: 5px;
      img{
        width: 30px;
        margin-top: 1px;
        margin-left: 1px;
      }
  }
  .switch-list-name{
    float: left;
    width: calc(100% - 60px);
    padding-top: 7px;
  }
  .switch-passengers {
    position: relative;
    top: -10px;
  }
  .switch-passengers-name {
      width: calc(100% - 200px);
      float: left;
  }
  .txt-promocode {
    width: 80px;
  }
  
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 42px;
    height: 25px;
    background: #BCE0FD;
    display: block;
    border-radius: 100px;
    position: relative;
    top: -20px;
    border:1px solid #2699FB;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 25px;
    height: 25px;
    background: #fff;
    border: 1px solid #2699FB;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: #2699FB;
  }
  
  input:checked + label:after {
    left: calc(100% - -1px);
    transform: translateX(-100%);
  }
  
 
  
}
  