@import "./../../variable.scss";
.datedate {
  display: inline-block;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 38px;
  padding: 0 10px;
  background-image: url("./../../public/images/cal_ic.svg");
  background-repeat: no-repeat;
  padding-right: 40px !important;
  background-size: 16px;
  background-position: right 12px top 15px;
  width: 100% !important;
  @media screen and (max-width: $break-mobile) {
    width: 100% !important;
  }
  @media screen and (max-width: 358px) and (min-width: 320px) {
    width: 100% !important;
  }
}
.rc-calendar-month-panel-selected-cell
  .rc-calendar-month-panel-month
  .rc-calendar-footer-btn {
  display: none;
}
.rc-calendar-selected-date .rc-calendar-date {
  background: #4899fb !important;
  color: #fff !important;
}

.rc-calendar-last-month-cell .rc-calendar-date,
.rc-calendar-next-month-btn-day .rc-calendar-date {
  color: #bbb;
}
.rc-calendar-year-select:hover,
.rc-calendar-month-select:hover,
.rc-calendar-day-select:hover {
  cursor: pointer;
  color: #4899fb;
}
.rc-calendar-disabled-cell .rc-calendar-date {
  cursor: not-allowed;
  color: #bcbcbc;
  background: #f3f3f3;
  border-radius: 0;
  width: auto;
}
.rc-calendar-disabled-cell .rc-calendar-year {
  cursor: not-allowed;
  color: #bcbcbc;
  background: #f3f3f3;
  border-radius: 0;
  width: auto;
}
/* day picker css end */
.rc-calendar-year-select:hover,
.rc-calendar-month-select:hover,
.rc-calendar-day-select:hover {
  cursor: pointer;
  color: #4899fb !important;
}
.rc-calendar-date:hover {
  background: #c3bebe;
  cursor: pointer;
}

.rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month {
  background: #4899fb !important;
  color: #fff !important;
}
.rc-calendar-month-panel-year-select-content {
  display: none;
}
.rc-calendar-month-panel-year-select-arrow {
  display: none;
}
.rc-calendar-column-header .rc-calendar-column-header-inner {
  font-weight: normal;
}
.rc-calendar-header .rc-calendar-next-month-btn {
  position: absolute;
  right: 25px;
}
.rc-calendar-prev-month-btn,
.rc-calendar-next-month-btn,
.rc-calendar-prev-year-btn,
.rc-calendar-next-year-btn {
  position: absolute;
  top: 0;
  cursor: pointer;
  color: #999;
  font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei",
    "Microsoft Sans Serif", sans-serif;
  padding: 0 5px;
  font-size: 16px;
  display: inline-block;
  line-height: 34px;
}

.rc-calendar-picker {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 1000;
}

.rc-calendar-body {
  padding: 9px 10px 10px;
  height: 217px;
}

.rc-calendar table {
  border-collapse: collapse;
  max-width: 100%;
  background-color: transparent;
  width: 100%;
}
.rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year {
  background: #4899fb !important;
  color: #fff;
}
.rc-calendar-year-panel-year {
  display: block;
  width: 46px;
  margin: 0 auto;
  color: #666;
  border-radius: 4px 4px;
  height: 36px;
  padding: 0;
  background: transparent;
  line-height: 36px;
  text-align: center;
}
.rc-calendar-year-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 4px 5px;
  text-align: center;
  width: 30px;
}

.rc-calendar-year-panel-prev-decade-btn,
.rc-calendar-year-panel-next-decade-btn {
  position: absolute;
  top: 0;
}

.rc-calendar-year-panel-body {
  -ms-flex: 1;
  flex: 1;
  padding: 9px 10px 10px;
}

.rc-calendar-month-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  z-index: 10;
  position: absolute;
  outline: none;
}

.rc-calendar-year-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  z-index: 10;
  position: absolute;
  outline: none;
}

.rc-calendar-year-panel .rc-calendar-year-panel-decade-select {
  width: 180px;
}
.rc-calendar-year-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 4px 5px;
  text-align: center;
  width: 30px;
}
.rc-calendar-year-panel-header {
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  position: relative;
  text-align: center;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #ccc;
}
.rc-calendar-decade-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  z-index: 10;
  position: absolute;
  outline: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade {
  background: #4899fb !important;
  color: #fff;
}

.rc-calendar table {
  border-collapse: collapse;
  max-width: 100%;
  background-color: transparent;
  width: 100%;
}

.rc-calendar-header {
  padding: 0 10px;
  height: 34px;
  line-height: 30px;
  text-align: center;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #ccc;
}
.rc-calendar-decade-panel-last-century-cell .rc-calendar-decade-panel-decade,
.rc-calendar-decade-panel-next-century-cell .rc-calendar-decade-panel-decade {
  user-select: none;
  -webkit-user-select: none;
  color: rgba(0, 0, 0, 0.25) !important;
}
.rc-calendar-year-select,
.rc-calendar-month-select,
.rc-calendar-day-select {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  padding: 0 8px;
  line-height: 34px;
  .rc-calendar-last-month-cell .rc-calendar-date,
  .rc-calendar-next-month-btn-day .rc-calendar-date {
    color: #bbb;
  }
  .rc-calendar-year-select:hover,
  .rc-calendar-month-select:hover,
  .rc-calendar-day-select:hover {
    cursor: pointer;
    color: #4899fb;
  }
  .rc-calendar-disabled-cell .rc-calendar-date {
    cursor: not-allowed;
    color: #bcbcbc;
    background: #f3f3f3;
    border-radius: 0;
    width: auto;
  }
  .rc-calendar-disabled-cell .rc-calendar-year {
    cursor: not-allowed;
    color: #bcbcbc;
    background: #f3f3f3;
    border-radius: 0;
    width: auto;
  }
  /* day picker css end */
  .rc-calendar-year-select:hover,
  .rc-calendar-month-select:hover,
  .rc-calendar-day-select:hover {
    cursor: pointer;
    color: #4899fb !important;
  }
  .rc-calendar-date:hover {
    background: #c3bebe;
    cursor: pointer;
  }

  .rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month {
    background: #4899fb !important;
    color: #fff;
  }
  .rc-calendar-month-panel-year-select-content {
    display: none;
  }
  .rc-calendar-month-panel-year-select-arrow {
    display: none;
  }
  .rc-calendar-column-header .rc-calendar-column-header-inner {
    font-weight: normal;
  }
  .rc-calendar-header .rc-calendar-next-month-btn {
    position: absolute;
    right: 25px;
  }
  .rc-calendar-prev-month-btn,
  .rc-calendar-next-month-btn,
  .rc-calendar-prev-year-btn,
  .rc-calendar-next-year-btn {
    position: absolute;
    top: 0;
    cursor: pointer;
    color: #999;
    font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei",
      "Microsoft Sans Serif", sans-serif;
    padding: 0 5px;
    font-size: 16px;
    display: inline-block;
    line-height: 34px;
  }

  .rc-calendar-picker {
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 1000;
  }

  .rc-calendar-body {
    padding: 9px 10px 10px;
    height: 217px;
  }

  .rc-calendar table {
    border-collapse: collapse;
    max-width: 100%;
    background-color: transparent;
    width: 100%;
  }
  .rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year {
    background: #4899fb !important;
    color: #fff;
  }
  .rc-calendar-year-panel-year {
    display: block;
    width: 46px;
    margin: 0 auto;
    color: #666;
    border-radius: 4px 4px;
    height: 36px;
    padding: 0;
    background: transparent;
    line-height: 36px;
    text-align: center;
  }
  .rc-calendar-year-panel-header > a {
    font-weight: bold;
    display: inline-block;
    padding: 4px 5px;
    text-align: center;
    width: 30px;
  }

  .rc-calendar-year-panel-prev-decade-btn,
  .rc-calendar-year-panel-next-decade-btn {
    position: absolute;
    top: 0;
  }

  .rc-calendar-year-panel-body {
    -ms-flex: 1;
    flex: 1;
    padding: 9px 10px 10px;
  }

  .rc-calendar-month-panel {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ffffff;
    z-index: 10;
    position: absolute;
    outline: none;
  }

  .rc-calendar-year-panel {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ffffff;
    z-index: 10;
    position: absolute;
    outline: none;
  }

  .rc-calendar-year-panel .rc-calendar-year-panel-decade-select {
    width: 180px;
  }
  .rc-calendar-year-panel-header > a {
    font-weight: bold;
    display: inline-block;
    padding: 4px 5px;
    text-align: center;
    width: 30px;
  }
  .rc-calendar-year-panel-header {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid #ccc;
  }
  .rc-calendar-decade-panel {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #ffffff;
    z-index: 10;
    position: absolute;
    outline: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade {
    background: #4899fb !important;
    color: #fff;
  }

  .rc-calendar table {
    border-collapse: collapse;
    max-width: 100%;
    background-color: transparent;
    width: 100%;
  }

  .rc-calendar-header {
    padding: 0 10px;
    height: 34px;
    line-height: 30px;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid #ccc;
  }
  .rc-calendar-decade-panel-last-century-cell .rc-calendar-decade-panel-decade,
  .rc-calendar-decade-panel-next-century-cell .rc-calendar-decade-panel-decade {
    user-select: none;
    -webkit-user-select: none;
    color: rgba(0, 0, 0, 0.25) !important;
  }
  .rc-calendar-year-select,
  .rc-calendar-month-select,
  .rc-calendar-day-select {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    padding: 0 8px;
    line-height: 34px;
  }
  .rc-calendar-year-select,
  .rc-calendar-month-select,
  .rc-calendar-day-select {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    padding: 0 8px;
    line-height: 34px;
  }

  .rc-calendar {
    position: relative;
    outline: none;
    font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei",
      "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans-serif;
    width: 253px;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px #ccc;
    background-clip: padding-box;
    border: 1px solid #ccc;
    line-height: 1.5;
  }

  .rc-calendar-date {
    display: block;
    margin: 0 auto;
    color: #666;
    border-radius: 4px 4px;
    width: 26px;
    height: 26px;
    padding: 0;
    background: transparent;
    line-height: 26px;
    text-align: center;
  }

  .rc-calendar-prev-month-btn,
  .rc-calendar-next-month-btn,
  .rc-calendar-prev-year-btn,
  .rc-calendar-next-year-btn {
    position: absolute;
    top: 0;
    cursor: pointer;
    color: #999;
    font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei",
      "Microsoft Sans Serif", sans-serif;
    padding: 0 5px;
    font-size: 16px;
    display: inline-block;
    line-height: 34px;
  }
  .rc-calendar-next-year-btn {
    right: 0;
  }

  .rc-calendar-header .rc-calendar-prev-month-btn {
    position: absolute;
    left: 25px;
  }
  .rc-calendar-prev-month-btn,
  .rc-calendar-next-month-btn,
  .rc-calendar-prev-year-btn,
  .rc-calendar-next-year-btn {
    position: absolute;
    top: 0;
    cursor: pointer;
    color: #999;
    font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei",
      "Microsoft Sans Serif", sans-serif;
    padding: 0 5px;
    font-size: 16px;
    display: inline-block;
    line-height: 34px;
  }

  .rc-calendar-year-panel-last-decade-cell .rc-calendar-year-panel-year,
  .rc-calendar-year-panel-next-decade-cell .rc-calendar-year-panel-year {
    color: rgba(0, 0, 0, 0.25) !important;
  }

  .rc-calendar-month-panel-cell .rc-calendar-month-panel-month:hover {
    background: #ebfaff;
    cursor: pointer;
  }
  .rc-calendar-year-panel-year:hover {
    background: #ebfaff;
    cursor: pointer;
  }

  .rc-calendar-month-panel-cell .rc-calendar-month-panel-month {
    display: block;
    width: 46px;
    margin: 0 auto;
    color: #666;
    border-radius: 4px 4px;
    height: 36px;
    padding: 0;
    background: transparent;
    line-height: 36px;
    text-align: center;
  }
  .rc-calendar-month-panel-cell .rc-calendar-month-panel-month:hover {
    background: #ebfaff;
    cursor: pointer;
  }
  .rc-calendar-year-panel-year:hover {
    background: #ebfaff;
    cursor: pointer;
  }
  .rc-calendar-decade-panel-body {
    -ms-flex: 1;
    flex: 1;
    padding: 9px 10px 10px;
  }

  .rc-calendar table {
    border-collapse: collapse;
    max-width: 100%;
    background-color: transparent;
    width: 100%;
  }

  .rc-calendar-next-year-btn {
    right: 0;
  }
  .rc-calendar-decade-panel-header {
    padding: 0 10px;
    height: 34px;
    line-height: 34px;
    position: relative;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid #ccc;
  }
  .rc-calendar-prev-month-btn,
  .rc-calendar-next-month-btn,
  .rc-calendar-prev-year-btn,
  .rc-calendar-next-year-btn {
    position: absolute;
    top: 0;
    cursor: pointer;
    color: #999;
    font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei",
      "Microsoft Sans Serif", sans-serif;
    padding: 0 5px;
    font-size: 16px;
    display: inline-block;
    line-height: 34px;
  }

  .rc-calendar-decade-panel-header > a {
    font-weight: bold;
    display: inline-block;
    padding: 1px 5px;
    text-align: center;
    width: 30px;
  }
  .rc-calendar-decade-panel-prev-century-btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 0;
  }
  .rc-calendar-decade-panel-prev-century-btn,
  .rc-calendar-decade-panel-next-century-btn {
    position: absolute;
    top: 0;
  }

  .rc-calendar-decade-panel-header {
    padding: 0 10px;
    height: 34px;
    line-height: 34px;
    position: relative;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid #ccc;
  }
  .rc-calendar-input {
    border: 1px solid transparent;
    width: 100%;
    color: #666;
    cursor: text;
    line-height: 1.5;
    outline: 0;
    height: 22px;
  }

  .rc-calendar-year-panel-prev-decade-btn:after {
    content: "\AB";
  }
  .rc-calendar-year-panel-next-decade-btn:after {
    content: "\BB";
  }
  .rc-calendar-prev-year-btn:after {
    content: "\AB";
  }
  .rc-calendar-header .rc-calendar-prev-month-btn:after {
    content: "\2039";
  }
  .rc-calendar-header .rc-calendar-next-month-btn:after {
    content: "\203A";
  }

  .rc-calendar-next-year-btn:after {
    content: "\BB";
  }

  .rc-calendar-prev-year-btn {
    left: 0;
  }
  .rc-calendar-prev-month-btn,
  .rc-calendar-next-month-btn,
  .rc-calendar-prev-year-btn,
  .rc-calendar-next-year-btn {
    position: absolute;
    top: 0;
    cursor: pointer;
    color: #999;
    font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei",
      "Microsoft Sans Serif", sans-serif;
    padding: 0 5px;
    font-size: 16px;
    display: inline-block;
    line-height: 34px;
  }

  .rc-calendar-prev-year-btn:after {
    content: "\AB";
  }

  .rc-calendar-year-panel-decade-select-arrow {
    display: none;
  }

  .rc-calendar-year-panel-header > a {
    font-weight: bold;
    display: inline-block;
    padding: 4px 5px;
    text-align: center;
    width: 30px;
  }
  .rc-calendar-year-panel-prev-decade-btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 0;
  }
  .rc-calendar-year-panel-prev-decade-btn,
  .rc-calendar-year-panel-next-decade-btn {
    position: absolute;
    top: 0;
  }

  .rc-calendar-year-panel-prev-decade-btn:after {
    content: "\AB";
  }

  .rc-calendar-year-panel .rc-calendar-year-panel-decade-select {
    width: 180px;
  }
  .rc-calendar-year-panel-header > a {
    font-weight: bold;
    display: inline-block;
    padding: 4px 5px;
    text-align: center;
    width: 30px;
  }

  .rc-calendar-year-panel-header > a {
    font-weight: bold;
    display: inline-block;
    padding: 4px 5px;
    text-align: center;
    width: 30px;
  }
  .rc-calendar-year-panel-next-decade-btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 0;
  }
  .rc-calendar-year-panel-prev-decade-btn,
  .rc-calendar-year-panel-next-decade-btn {
    position: absolute;
    top: 0;
  }

  .rc-calendar-year-panel-header > a {
    font-weight: bold;
    display: inline-block;
    padding: 4px 5px;
    text-align: center;
    width: 30px;
  }
  .rc-calendar-year-panel-next-decade-btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 0;
  }
  .rc-calendar-year-panel-prev-decade-btn,
  .rc-calendar-year-panel-next-decade-btn {
    position: absolute;
    top: 0;
  }
  .rc-calendar-year-panel-next-decade-btn:after {
    content: "\BB";
  }

  .rc-calendar-decade-panel-header > a {
    font-weight: bold;
    display: inline-block;
    padding: 1px 5px;
    text-align: center;
    width: 30px;
  }
  .rc-calendar-decade-panel-prev-century-btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 0;
  }
  .rc-calendar-decade-panel-prev-century-btn,
  .rc-calendar-decade-panel-next-century-btn {
    position: absolute;
    top: 0;
  }
  .rc-calendar-decade-panel-prev-century-btn:after {
    content: "\AB";
  }
  .rc-calendar-decade-panel-header > a {
    font-weight: bold;
    display: inline-block;
    padding: 1px 5px;
    text-align: center;
    width: 30px;
  }
  .rc-calendar-decade-panel-next-century-btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 0;
  }
  .rc-calendar-decade-panel-prev-century-btn,
  .rc-calendar-decade-panel-next-century-btn {
    position: absolute;
    top: 0;
  }
  .rc-calendar-decade-panel-next-century-btn:after {
    content: "\BB";
  }

  .rc-calendar-clear-btn {
    z-index: 9999;
    position: absolute;
    right: -5px;
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: -5px !important;
    margin: 0;
  }
  .rc-calendar-clear-btn:after {
    content: "x";
    font-size: 12px;
    color: #aaa;
    display: inline-block;
    line-height: 1;
    width: 20px;
    transition: color 0.3s ease;
  }

  .rc-calendar-today .rc-calendar-date {
    border: 1px solid #4899fb !important;
  }

  .rc-calendar-selected-date .rc-calendar-date:hover {
    background: #4899fb;
  }

  .rc-calendar-disabled-cell .rc-calendar-year {
    cursor: not-allowed;
    color: #bcbcbc;
    background: #f3f3f3;
    border-radius: 0;
    width: auto;
  }
  .rc-calendar table,
  .rc-calendar td,
  .rc-calendar th,
  .rc-calendar td {
    border: none;
  }

  .rc-calendar-cell {
    padding: 1px 0;
  }

  .rc-calendar-disabled-cell .rc-calendar-date {
    cursor: not-allowed;
    color: #bcbcbc;
    background: #f3f3f3;
    border-radius: 0;
    width: auto;
  }
  .rc-calendar-date {
    display: block;
    margin: 0 auto;
    color: #666;
    border-radius: 4px 4px;
    width: 26px;
    height: 26px;
    padding: 0;
    background: transparent;
    line-height: 26px;
    text-align: center;
  }
}
.rc-calendar-year-select,
.rc-calendar-month-select,
.rc-calendar-day-select {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  padding: 0 8px;
  line-height: 34px;
}

.rc-calendar {
  position: relative;
  outline: none;
  font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei",
    "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans-serif;
  width: 253px;
  list-style: none;
  font-size: 12px;
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 5px #ccc;
  background-clip: padding-box;
  border: 1px solid #ccc;
  line-height: 1.5;
}

.rc-calendar-date {
  display: block;
  margin: 0 auto;
  color: #666;
  border-radius: 4px 4px;
  width: 26px;
  height: 26px;
  padding: 0;
  background: transparent;
  line-height: 26px;
  text-align: center;
}

.rc-calendar-prev-month-btn,
.rc-calendar-next-month-btn,
.rc-calendar-prev-year-btn,
.rc-calendar-next-year-btn {
  position: absolute;
  top: 0;
  cursor: pointer;
  color: #999;
  font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei",
    "Microsoft Sans Serif", sans-serif;
  padding: 0 5px;
  font-size: 16px;
  display: inline-block;
  line-height: 34px;
}
.rc-calendar-next-year-btn {
  right: 0;
}

.rc-calendar-header .rc-calendar-prev-month-btn {
  position: absolute;
  left: 25px;
}
.rc-calendar-prev-month-btn,
.rc-calendar-next-month-btn,
.rc-calendar-prev-year-btn,
.rc-calendar-next-year-btn {
  position: absolute;
  top: 0;
  cursor: pointer;
  color: #999;
  font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei",
    "Microsoft Sans Serif", sans-serif;
  padding: 0 5px;
  font-size: 16px;
  display: inline-block;
  line-height: 34px;
}

.rc-calendar-year-panel-last-decade-cell .rc-calendar-year-panel-year,
.rc-calendar-year-panel-next-decade-cell .rc-calendar-year-panel-year {
  color: rgba(0, 0, 0, 0.25) !important;
}

.rc-calendar-month-panel-cell .rc-calendar-month-panel-month:hover {
  background: #ebfaff;
  cursor: pointer;
}
.rc-calendar-year-panel-year:hover {
  background: #ebfaff;
  cursor: pointer;
}

.rc-calendar-month-panel-cell .rc-calendar-month-panel-month {
  display: block;
  width: 46px;
  margin: 0 auto;
  color: #666;
  border-radius: 4px 4px;
  height: 36px;
  padding: 0;
  background: transparent;
  line-height: 36px;
  text-align: center;
}
.rc-calendar-month-panel-cell .rc-calendar-month-panel-month:hover {
  background: #ebfaff;
  cursor: pointer;
}
.rc-calendar-year-panel-year:hover {
  background: #ebfaff;
  cursor: pointer;
}
.rc-calendar-decade-panel-body {
  -ms-flex: 1;
  flex: 1;
  padding: 9px 10px 10px;
}

.rc-calendar table {
  border-collapse: collapse;
  max-width: 100%;
  background-color: transparent;
  width: 100%;
}

.rc-calendar-next-year-btn {
  right: 0;
}
.rc-calendar-decade-panel-header {
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  position: relative;
  text-align: center;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #ccc;
}
.rc-calendar-prev-month-btn,
.rc-calendar-next-month-btn,
.rc-calendar-prev-year-btn,
.rc-calendar-next-year-btn {
  position: absolute;
  top: 0;
  cursor: pointer;
  color: #999;
  font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei",
    "Microsoft Sans Serif", sans-serif;
  padding: 0 5px;
  font-size: 16px;
  display: inline-block;
  line-height: 34px;
}

.rc-calendar-decade-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 1px 5px;
  text-align: center;
  width: 30px;
}
.rc-calendar-decade-panel-prev-century-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0;
}
.rc-calendar-decade-panel-prev-century-btn,
.rc-calendar-decade-panel-next-century-btn {
  position: absolute;
  top: 0;
}

.rc-calendar-decade-panel-header {
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  position: relative;
  text-align: center;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #ccc;
}
.rc-calendar-input {
  border: 1px solid transparent;
  width: 100%;
  color: #666;
  cursor: text;
  line-height: 1.5;
  outline: 0;
  height: 22px;
}

.rc-calendar-year-panel-prev-decade-btn:after {
  content: "\AB";
}
.rc-calendar-year-panel-next-decade-btn:after {
  content: "\BB";
}
.rc-calendar-prev-year-btn:after {
  content: "\AB";
}
.rc-calendar-header .rc-calendar-prev-month-btn:after {
  content: "\2039";
}
.rc-calendar-header .rc-calendar-next-month-btn:after {
  content: "\203A";
}

.rc-calendar-next-year-btn:after {
  content: "\BB";
}

.rc-calendar-prev-year-btn {
  left: 0;
}
.rc-calendar-prev-month-btn,
.rc-calendar-next-month-btn,
.rc-calendar-prev-year-btn,
.rc-calendar-next-year-btn {
  position: absolute;
  top: 0;
  cursor: pointer;
  color: #999;
  font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei",
    "Microsoft Sans Serif", sans-serif;
  padding: 0 5px;
  font-size: 16px;
  display: inline-block;
  line-height: 34px;
}

.rc-calendar-prev-year-btn:after {
  content: "\AB";
}

.rc-calendar-year-panel-decade-select-arrow {
  display: none;
}

.rc-calendar-year-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 4px 5px;
  text-align: center;
  width: 30px;
}
.rc-calendar-year-panel-prev-decade-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0;
}
.rc-calendar-year-panel-prev-decade-btn,
.rc-calendar-year-panel-next-decade-btn {
  position: absolute;
  top: 0;
}

.rc-calendar-year-panel-prev-decade-btn:after {
  content: "\AB";
}

.rc-calendar-year-panel .rc-calendar-year-panel-decade-select {
  width: 180px;
}
.rc-calendar-year-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 4px 5px;
  text-align: center;
  width: 30px;
}

.rc-calendar-year-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 4px 5px;
  text-align: center;
  width: 30px;
}
.rc-calendar-year-panel-next-decade-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 0;
}
.rc-calendar-year-panel-prev-decade-btn,
.rc-calendar-year-panel-next-decade-btn {
  position: absolute;
  top: 0;
}

.rc-calendar-year-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 4px 5px;
  text-align: center;
  width: 30px;
}
.rc-calendar-year-panel-next-decade-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 0;
}
.rc-calendar-year-panel-prev-decade-btn,
.rc-calendar-year-panel-next-decade-btn {
  position: absolute;
  top: 0;
}
.rc-calendar-year-panel-next-decade-btn:after {
  content: "\BB";
}

.rc-calendar-decade-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 1px 5px;
  text-align: center;
  width: 30px;
}
.rc-calendar-decade-panel-prev-century-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0;
}
.rc-calendar-decade-panel-prev-century-btn,
.rc-calendar-decade-panel-next-century-btn {
  position: absolute;
  top: 0;
}
.rc-calendar-decade-panel-prev-century-btn:after {
  content: "\AB";
}
.rc-calendar-decade-panel-header > a {
  font-weight: bold;
  display: inline-block;
  padding: 1px 5px;
  text-align: center;
  width: 30px;
}
.rc-calendar-decade-panel-next-century-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 0;
}
.rc-calendar-decade-panel-prev-century-btn,
.rc-calendar-decade-panel-next-century-btn {
  position: absolute;
  top: 0;
}
.rc-calendar-decade-panel-next-century-btn:after {
  content: "\BB";
}

.rc-calendar-clear-btn {
  z-index: 9999;
  position: absolute;
  right: 6px;
  cursor: pointer;
  overflow: hidden;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  top: 0px;
  margin: 0;
}
.rc-calendar-clear-btn:after {
  content: "x";
  font-size: 12px;
  color: #aaa;
  display: inline-block;
  line-height: 1;
  width: 20px;
  transition: color 0.3s ease;
}

.rc-calendar-today .rc-calendar-date {
  border: 1px solid #4899fb !important;
}

.rc-calendar-selected-date .rc-calendar-date:hover {
  background: #4899fb;
}

.rc-calendar-disabled-cell .rc-calendar-year {
  cursor: not-allowed;
  color: #bcbcbc;
  background: #f3f3f3;
  border-radius: 0;
  width: auto;
}
.rc-calendar table,
.rc-calendar td,
.rc-calendar th,
.rc-calendar td {
  border: none;
}

.rc-calendar-cell {
  padding: 1px 0;
}

.rc-calendar-disabled-cell .rc-calendar-date {
  cursor: not-allowed;
  color: #bcbcbc;
  background: #f3f3f3;
  border-radius: 0;
  width: auto;
}
.rc-calendar-date {
  display: block;
  margin: 0 auto;
  color: #666;
  border-radius: 4px 4px;
  width: 26px;
  height: 26px;
  padding: 0;
  background: transparent;
  line-height: 26px;
  text-align: center;
}
